@import "../styels/reset.css";

:root {
  --darkColor: #515151;
  --lightColor: #fff;
  --lightBlueColor: #3498db;
  --darkBlueColor: #2980b9;
  --lighGreenColor: #1abc9c;
  --darkGreenColor: #16a085;
  --lightGrayColor: #ccc;
  --taskManagerColor: #dff9fb;
  --lighRedColor: #e74c3c;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("../images/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: var(--lightColor);
}

/* section: task-manager */

#task-manager {
  border: 1px solid var(--lightGrayColor);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  background: var(--taskManagerColor);
}

.form-group {
  padding: 0.2rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}

.form-group input {
  border-radius: 0.2rem;
  border: 1px solid var(--lightGrayColor);
  padding: 0.4rem;
  margin: 0 0.2rem;
  outline: none;
  transition: 200ms;
  width: 100%;
}

.form-group input:focus {
  box-shadow: 1px 1px 1px var(--lightBlueColor);
}

.form-group button {
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.8rem;
  color: var(--darkColor);
  background-color: var(--lighGreenColor);
  transition: 200ms;
}

.form-group button:hover {
  background-color: var(--darkGreenColor);
  color: var(--lightColor);
  cursor: pointer;
}

.task-list ul {
  list-style: none;
}

.task-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightColor);
  padding: 0.5rem;
  margin: 0.4rem 0;
  border-radius: 0.4rem;
}

.list-item-title {
  font-size: 1.2rem;
}

.list-item-buttons button {
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  color: var(--darkColor);
  transition: 200ms;
  font-size: 1.2rem;
  color: #000;
}

.list-item-buttons button:hover {
  color: var(--lightColor);
  cursor: pointer;
}

.btn-edit {
  background-color: var(--lightBlueColor);
}

.btn-delete {
  background-color: var(--lighRedColor);
}

/* end section: task-manager */
